/*
【執筆メモStart】
yarn create next-appで自動生成されたままの状態です。
【執筆メモEnd】
*/
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #f2f2f2;
  padding: 20px;
}

.container {
  flex-grow: 1;
  display: flex;
}

.sidebar {
  width: 200px;
  background-color: #eaeaea;
  padding: 20px;
}

.navbar {
  background-color: #f8f8f8;
  padding: 20px;
}

.content {
  flex-grow: 2;
  padding: 20px;
}

.footer {
  background-color: #f2f2f2;
  padding: 20px;
}
